<h1>Editing inspection entry</h1>

<%= render "form", placed_quantity: @placed_quantity %>

<br>

<div>
  <%= link_to "Show this inspection entry", @placed_quantity %> |
  <%= link_to "Back to inspection entries", placed_quantities_path %>
</div>
