<div id="<%= dom_id bid_item %>">
  <p>
    <strong>Code:</strong>
    <%= bid_item.code %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= bid_item.description %>
  </p>

  <p>
    <strong>Unit:</strong>
    <%= bid_item.unit %>
  </p>

</div>
