<h1>Editing <%= @bid_item.code %></h1>

<%= render "form", bid_item: @bid_item %>

<br>

<div>
  <%# FIX: Ensure links know about the @project %>
  <%= link_to "Show this item", project_bid_item_path(@project, @bid_item) %> |
  <%= link_to "Back to Library", project_bid_items_path(@project) %>
</div>