<h1>New Bid Item for <%= @project.name %></h1>

<%# The form is already set up correctly with [@project, @bid_item] %>
<%= render "form", bid_item: @bid_item %>

<br>

<div>
  <%# FIX: Use project_bid_items_path(@project) instead of bid_items_path %>
  <%= link_to "Back to Library", project_bid_items_path(@project) %>
</div>