<h1>Editing inspection entry</h1>

<%= render "form", inspection_entry: @inspection_entry %>

<br>

<div>
  <%= link_to "Show this inspection entry", @inspection_entry %> |
  <%= link_to "Back to inspection entries", inspection_entries_path %>
</div>
