<p style="color: green"><%= notice %></p>

<h1>Inspection entries</h1>

<div id="inspection_entries">
  <% @inspection_entries.each do |inspection_entry| %>
    <%= render inspection_entry %>
    <p>
      <%= link_to "Show this inspection entry", inspection_entry %>
    </p>
  <% end %>
</div>

<%= link_to "New inspection entry", new_inspection_entry_path %>
